@import "reset.css";

@import url(http://fonts.googleapis.com/css?family=Text+Me+One);
body {
  padding: 20px;
  font: 14px "Text Me One", Helvetica, Arial, sans-serif;
  background-image: url("/img/bg.png");
}
a {
  color: #00B7FF;
}
